@model List<Proyecto.Models.Usuario>

@{
    ViewBag.Title = "CRUD Empleados";
}

<link rel="stylesheet" href="~/Styles/cssLayout/Canasta.css" />

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center mb-3">
            <h5 class="card-title">Lista de Empleados</h5>
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.MensajePantalla))
        {
            <div class="alert alert-danger text-center" role="alert">
                @ViewBag.MensajePantalla
            </div>
        }
        <div class="d-flex justify-content-end mb-3">
            <a class="btn btn-primary" href="@Url.Action("RegistroEmpleado", "Login")">
                Agregar Empleado
            </a>
        </div>
        <div class="table-responsive">
            <table id="example" class="table table-striped text-nowrap align-middle mb-0">
                <thead>
                    <tr class="border-2 border-bottom border-primary">
                        <th>Consecutivo</th>
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo Electrónico</th>
                        <th>Teléfono</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Consecutivo</td>
                            <td>@item.Identificacion</td>
                            <td>@item.Nombre</td>
                            <td>@item.Apellido</td>
                            <td>@item.CorreoElectronico</td>
                            <td>@item.Telefono</td>
                            <td>@item.NombreRol</td>
                            <td>
                                <a href="@Url.Action("ActualizarEmpleado", "Usuario", new { id = item.Identificacion })"  class="btn btn-warning btn-sm">Editar</a>

                                <form action="@Url.Action("EliminarEmpleado", "Usuario")" method="post" style="display:inline;">
                                    <input type="hidden" name="id" value="@item.Identificacion" />
                                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este empleado?');">Eliminar </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="~/Styles/js/jquery.min.js"></script>
