<link rel="stylesheet" href="~/Styles/cssLayout/Canasta.css" />

@model Proyecto.Models.Usuario

@{
    ViewBag.Title = "Actualizar Empleado";
}

<h2>Actualizar Empleado</h2>

@if (!string.IsNullOrEmpty(ViewBag.MensajePantalla))
{
    <div class="alert alert-warning">
        @ViewBag.MensajePantalla
    </div>
}

@using (Html.BeginForm("ActualizarEmpleado", "Usuario", FormMethod.Post))
{
    // @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <label for="Nombre">Nombre</label>
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @placeholder = "Ingrese el nombre" })
        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="Apellido">Apellido</label>
        @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control", @placeholder = "Ingrese el apellido" })
        @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="CorreoElectronico">Correo Electrónico</label>
        @Html.TextBoxFor(model => model.CorreoElectronico, new { @class = "form-control", @placeholder = "Ingrese el correo electrónico", @type = "mail" })
        @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="Telefono">Teléfono</label>
        @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", @placeholder = "Ingrese el número de teléfono" })
        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a href="@Url.Action("VerEmpleados", "Empleado")" class="btn btn-secondary">Cancelar</a>
}