<link rel="stylesheet" href="~/Styles/cssLayout/Canasta.css" />

@model List<Proyecto.Models.Usuario>

@{
    ViewBag.Title = "CRUD Empleados";
}

<main>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items">
                <h5 class="card-title">Lista de Empleados</h5>
                <button type="button" class="btn text-black d-inline align-middle" data-bs-toggle="modal" data-bs-target="#modalEmpleado" style="font-size: 1em; font-weight: bold;">
                    <i class="fa fa-plus" style="font-size: 1em; color:#000000;"></i>
                </button>
            </div>

            <div class="table-responsive">
                <table id="example" class="table text-nowrap align-middle mb-0">
                    <thead>
                        <tr class="border-2 border-bottom border-primary border-0">
                            <th>Consecutivo</th>
                            <th>Identificacion</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo Electronico</th>
                            <th>Telefono</th>
                            <th>Rol</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Consecutivo</td>
                                <td>@item.Identificacion</td>
                                <td>@item.Nombre</td>
                                <td>@item.Apellido</td>
                                <td>@item.CorreoElectronico</td>
                                <td>@item.Telefono</td>
                                <td>@item.NombreRol</td>
                                <td>
                                    <a class="btn btn-primary text-white" href="@Url.Action("ActualizarEmpleado", "Usuario", new { id = item.Identificacion })">Editar<i class="fa fa-pencil-square-o" style="font-size: 1.4em;"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Modal para agregar empleado -->
    <div class="modal fade" id="modalEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Agregar Empleado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @if (ViewBag.MensajePantalla != null)
                    {
                        <div class="alert alert-danger text-center" role="alert">
                            @ViewBag.MensajePantalla
                        </div>
                    }

                    @using (Html.BeginForm("CrearEmpleado", "Empleado", FormMethod.Post))
                    {
                        <div class="mb-3">
                            <label class="form-label">Identificación</label>
                            @Html.TextBoxFor(m => m., new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Apellido</label>
                            @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Correo Electrónico</label>
                            @Html.TextBoxFor(m => m.CorreoElectronico, new { @class = "form-control", @required = "required", @type = "email" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Teléfono</label>
                            @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control", @required = "required", @type = "tel" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contraseña</label>
                            @Html.PasswordFor(m => m.Contrasenna, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Activo</label>
                            @Html.CheckBoxFor(m => m.Activo, new { @class = "form-check-input" })
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    <script src="~/Styles/js/jquery.min.js"></script>
</main>

