<link rel="stylesheet" href="~/Styles/cssLayout/Canasta.css" />

@model List<Proyecto.Models.Empleado>
@{
    ViewBag.Title = "CRUD Empleados";
}

<main>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items">
                <h5 class="card-title">Lista de Empleados</h5>
                <a class="btn text-black d-inline align-middle" href="@Url.Action("VerEmpleados", "Empleado")" style="font-size: 1em; font-weight: bold;">
                    <i class="fa fa-plus" style="font-size: 1em; color:#000000;"></i>
                </a>
            </div>

            <div class="table-responsive">
                <table id="example" class="table text-nowrap align-middle mb-0">
                    <thead>
                        <!-- identificacion de los datos a leer/mostrar en la vista -->
                        <tr class="border-2 border-bottom border-primary border-0">
                            <th>Consecutivo</th>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo Electronico</th>
                            <th>Telefono</th>
                            <th>Estado</th>
                            <th>Rol</th>

                        </tr>
                    </thead>
                    <tbody class="table-group-divider">

                        <!-- Lectura de los datos -->
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ConsecutivoRol</td>
                                <td>@item.IdEmpleado</td>
                                <td>@item.NombreEmp</td>
                                <td>@item.ApellidoEmp</td>
                                <td>@item.CorreoEmp</td>
                                <td>@item.TelEmp</td>
                                <td>@item.ActivoEmp</td>
                                <td>@item.NombrePuesto</td>
                                <td>

                                    <!--<a class="btn btn-success text-white" href="@Url.Action("VerEmpleados", "Empleado")">Crear<i class="fa fa-pencil-square-o" style="font-size: 1.4em;"></i></a>-->
                                    <a class="btn btn-primary text-white" href="@Url.Action("VerEmpleados","Empleado", new { q = item.IdEmpleado })">Editar<i class="fa fa-pencil-square-o" style="font-size: 1.4em;"></i></a>

                                    <!-- La variable q es la llave unica de la base de datos con la que queremos encontrar los datos a editar -->


                                    <button type="button" class="btn abrirModal btn-danger text-white" data-bs-toggle="modal" data-bs-target="#modalEmpleado"
                                            data-id="@item.IdEmpleado"
                                            data-name="@item.NombreEmp">
                                        <i class="fa fa-trash-o" style="font-size: 1.4em;"></i>
                                        Eliminar
                                    </button>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Confirmación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("VerEmpleados", "Empleado"))
                {
                    <div class="modal-body">
                        @*Html.Hidden("ConsecutivoPuesto", "IdEmpleado", "ActivoEmp", "NombrePuesto")*@
                        ¿Desea eliminar el empleado seleccionado <label id="Nombre"></label>?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Procesar</button>
                    </div>
                }
            </div>
        </div>
    </div>



    <script src="~/Styles/js/jquery.min.js"></script>
</main>

